<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LanguageGame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C44A369928CA4E8500ADA544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44A36AF28CA4E8700ADA544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44A36B928CA4E8700ADA544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
